@font-face {
font-family: "Noto Sans Mono";
src: url(https://cdn.jsdelivr.net/fontsource/fonts/noto-sans-mono:vf@latest/latin-wght-normal.woff2) format("woff2-variations");
}
body {
background-color: #000;
color: #DDD;
font-family: "Noto Sans Mono", monospace;
}
.ascii-banner {
font-family: "Noto Sans Mono", monospace;
font-size: 8.0px;
overflow: hidden;
}
hr {
border: none;
border-top: 1.5px dashed;
}